.ui-ref-nav {
  padding: 0 4rem;
  width: 100vw;
  height: 6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 0px 4px black;
  z-index: 10;
}

.logo {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.logo > a {
  color: black;
}

.navMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navMenu > a {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.2rem;
  padding: 10px;
  box-sizing: border-box;
  color: black;
  transition: all 0.2s;
  background-color: #8a8a8a;
}

.navMenu a:hover {
  background-color: black;
  color: white;
}

.ui-ref-page {
  background-color: white;
  margin-top: 5rem;
  padding: 2rem 0;
}

.ui-ref-header {
  padding: 0 6rem;
}

.ui-ref-header > p {
  border: 1px solid rgb(248, 69, 69);
  padding: 1rem;
}

h1 {
  margin: 0;
}

.pExample {
  margin: 1rem 0;
}

.uiReferenceSection {
  min-height: 100vh;
  padding: 2rem 2rem;
}
